@model List<Category>

<table class="table table-bordered table-striped">
    <thead>  
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
             </tr>
        }
    </tbody>
</table>